.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
/*
.ct-socials {
    position: fixed;
    top: 25%;
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 10;
    margin: 0;
    -webkit-transition: right 0.25s ease-in-out;
    transition: right 0.25s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.ct-socials li {
    padding: 1px 0;
}
.ct-socials li a {
    background: #3f4653;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    width: 54px;
    height: 75px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    float: right;
    padding-left: 5px;
}
.ct-socials li a:hover {
    width: 54px;
    padding-left: 0;
    text-decoration: none;
    background: #3c9bd9;
}
.section.triad-section {
  margin-top: 10px;
}
section.section h2 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 0;
}
h2 {
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
    letter-spacing: -1px;
}
section.section p.sub-heading {
    font-size: 16px;
    font-family: "Gotham SSm A", "Gotham SSm B";
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}
section.triad-section .triad-sub-section {
    padding-right: 60px;
}
section p.detail-paragraph:first-child {
    margin-top: 0;
}
section p.detail-paragraph {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 40px;
    font-size: 18px;
    color: #000;
}
b, strong {
    font-weight: 700;
}

*/



/* Floating Social Media Bar Style Starts Here */

.fl-fl {
  background: #000000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 250px;
  position: fixed;
  right: -210px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
  text-shadow: 0 0 3px #000;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-lnkd {
  top: 160px;
}

.float-github {
  top: 215px;
}

.float-fb {
  top: 270px;
}

.float-tw {
  top: 325px;
}

.float-mail {
  text-transform: lowercase;
  top: 380px;
}

.float-phone {
  top: 435px;
}

.float-location {
  top: 490px;
}

/* Floating Social Media Bar Style Ends Here */
